service: tweet-pics

provider:
  name: aws
  runtime: nodejs8.10
  stage: dev
  region: eu-west-2

functions:
  tweets:
    handler: handler.tweets
    events:
      - http:
          path: tweets
          method: get

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

custom:
  serverless-offline:
      babelOptions:
        presets: ["es2015"]
